.App{
  margin: 10px;
}
.btnhistory{
  width: 107px;
  height: 32px;
  background-image: linear-gradient(to right,#FC5D73, #FF993F);
  color: white;
  align-items: center;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.soltline{
  display: flex;
}

.slot{
  width: 33px;
  height: 4px;
  background-color: #FF993F;
  padding: 1px;
  margin: 1px;
}

.slotGray{
  width: 33px;
  height: 4px;
  background-color: gray;
  padding: 1px;
  margin: 1px;
}

.verticalsolt{
  width: 2px;
  height: 44px;
  background-image: linear-gradient(to bottom,#FC5D73, #FF993F);
  border: 1px solid #FF993F;
  margin-left: 24px;
  position: absolute;
  top: 49px;
}

.box{
  width: 262px;
  height: 294px;
  border: 1px solid #FF993F;
  position: absolute;
  top: 95px;
  border-radius: 10px;
}

.underbox{
  width: 262px;
  height: 126px;
  background-image: linear-gradient(to right,#FC5D73, #FF993F);
  border-radius: 10px 10px 0 0; 
}

.subclass{
  display: flex; 
  justify-content: flex-end;
}

.btnclose{
  width: 10px;
  height: 10px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: flex-end;
  margin-right: 14px;
  margin-top: 10px;
}

.conta{
  margin-left: 12px;
  font-size: 16px;
  color: aliceblue;
  font-family: 'Comfortaa, Bold';
}

.desc{
  margin-top: 12px;
  margin-left: 12px;
  font-size: 14px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Comfortaa, Regular';
}

.progressbox{
  width: 262px;
  height: 100px;
  border: 1px solid white;
}

.finishbtnbox{
  width: 262px;
  height: 67px;
  background-image: linear-gradient(to right,#FC5D73, #FF993F);
  border-radius: 0 0 10px 10px;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}

.btnfinish{
  width: 82px;
  height: 30px;
  display: flex;
  background-color: aliceblue;
  border-radius: 5px;
  border: none;
  justify-content: center;
  align-items: center;
  justify-items: flex-end;
  margin-right: 14px;
}

.progressboxline{
  display: flex;
}